@model WebApplication3.Models.ProfileViewModel

@{
    ViewBag.Title = "Index";
}

<img src="@Model.ImagePath" class="marg-top"/>
<h2 class="button">@Model.Email</h2>
<h2 class="button">@Model.Age</h2>
<h2 class="button">@Model.BirthDate</h2>



